body {
    display: flex;
    flex-direction: column;
    
}
main {
    flex: 1 auto;
    height: auto;
}
header, footer {
    /* min-height: 1px; */
    height: auto;
}

main.page-main {
    height: auto;
}