body {
    display: flex;
    flex-direction: column;
    
}
main {
    flex: 1 auto;
    height: auto;
}
header, footer {
    /* min-height: 1px; */
    height: auto;
}

main.page-main {
    height: auto;
}

.pagination__item a {
    line-height: 40px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.pagination__item.disabled {
    background-color: #d0d4ec;
}
